# Loading initial packages

In [3]:
import re
import numpy as np
import pandas as pd
import scipy
import sklearn
#from pandas.stats.api import ols
from subprocess import check_output
try:
    import statsmodels.formula.api as sm
except ImportError:
    import scikits.statsmodels.api as sm

# Reading in the data

In [4]:
TourneySeeds = pd.read_csv('data/TourneySeeds.csv')
SampleSubmission = pd.read_csv('data/SampleSubmission.csv')
Seasons = pd.read_csv('data/Seasons.csv')
Teams = pd.read_csv('data/Teams.csv')
TourneySlots = pd.read_csv('data/TourneySlots.csv')
TourneyDetailedResults = pd.read_csv('data/TourneyDetailedResults.csv')
TourneyCompactResults = pd.read_csv('data/TourneyCompactResults.csv')
team_dict = dict(zip(Teams['Team_Id'].values, Teams['Team_Name'].values))
RegularSeasonCompact = pd.read_csv('data/RegularSeasonCompactResults.csv')
TourneyDetailedResults['Wteam_name'] = TourneyDetailedResults['Wteam'].map(team_dict)
TourneyDetailedResults['Lteam_name'] = TourneyDetailedResults['Lteam'].map(team_dict)

# A quick look at the data

In [12]:
print(TourneySeeds.head(6))
print(TourneySlots.head(6))
print(SampleSubmission.head(6))
print(Seasons.head(6))
print(Teams.head(6))
print(TourneyDetailedResults.head(6))
print(TourneyCompactResults.head(6))

   Season Seed  Team
0    1985  W01  1207
1    1985  W02  1210
2    1985  W03  1228
3    1985  W04  1260
4    1985  W05  1374
5    1985  W06  1208
   Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12
5    1985  R1W6        W06      W11
               Id  Pred
0  2016_1112_1114   0.5
1  2016_1112_1122   0.5
2  2016_1112_1124   0.5
3  2016_1112_1138   0.5
4  2016_1112_1139   0.5
5  2016_1112_1143   0.5
   Season     Dayzero Regionw    Regionx    Regiony    Regionz
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast
5    1990  10/30/1989    East    Midwest  Southeast       West
   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M
5     1106   Alabama St
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga  \
0    2003     134   1421      92   1411      84    N      1    32    69
1    2003     136   1112      80   1436      51    N      0    31    66
2    2003     136   1113      84   1272      71    N      0    31    59
3    2003     136   1141      79   1166      73    N      0    29    53
4    2003     136   1143      76   1301      74    N      1    27    64
5    2003     136   1163      58   1140      53    N      0    17    52

      ...       Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf     Wteam_name  \
0     ...         31   17   28    16   15     5     0   22  UNC Asheville
1     ...          7    8   26    12   17    10     3   15        Arizona
2     ...         21   20   22    11   12     2     5   18     Arizona St
3     ...         17   14   17    20   21     6     6   21     C Michigan
4     ...         20   10   26    16   14     5     8   19     California
5     ...         13   15   26    11   11     8     4   22    Connecticut

    Lteam_name
0  TX Southern
1      Vermont
2      Memphis
3    Creighton
4     NC State
5          BYU

[6 rows x 36 columns]
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0
5    1985     136   1246      66   1449      58    N      0

# TrueSkill

## Add the package

In [17]:
import trueskill
from trueskill import Rating, global_env, rate_1vs1
env = trueskill.TrueSkill(draw_probability=0.44)
env.make_as_global()
print(global_env())

seasons = [2008,2009,2010,2011,2012,2013,2014,2015,2016]
print(seasons)

trueskill.TrueSkill(mu=25.000, sigma=8.333, beta=4.167, tau=0.083, draw_probability=44.0%)
[2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

## Data Cleaning
- Remove all games before 2008 (three point line was introduced)

In [39]:
# all games after 2008
RegPost2008 = RegularSeasonCompact[RegularSeasonCompact['Season'] >= 2008]
print(RegPost2008.head(6))
print(RegPost2008.tail(6))

SeasonGames = RegPost2008.loc[RegPost2008['Season'] == season,:]
print(SeasonGames.head(6))

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
97710    2008       0   1272     102   1404      71    H      0
97711    2008       0   1350      44   1263      42    N      0
97712    2008       1   1205      69   1105      55    N      0
97713    2008       1   1246      67   1146      40    H      0
97714    2008       1   1272      80   1350      63    H      0
97715    2008       1   1404      66   1263      62    N      0
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145283    2016     131   1451      62   1285      59    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
97710    2008       0   1272     102   1404      71    H      0
97711    2008       0   1350      44   1263      42    N      0
97712    2008       1   1205      69   1105      55    N      0
97713    2008       1   1246      67   1146      40    H      0
97714    2008       1   1272      80   1350      63    H      0
97715    2008       1   1404      66   1263      62    N      0

## Apply TrueSkill to prior season data
- For each season, calculate the TrueSkill of each team in the season

In [43]:
# for each season
# calculate trueskill of all teams, then add it to the game log
# instantiate ratings for all teams and add it to the dataframe
output = pd.DataFrame()
for season in seasons:
    # get all the games in the season
    # print("Number of games in 2008:", len(RegPost2008[RegPost2008['Season'] == 2008]))
    print('assessing season ', season)
    SeasonGames = RegPost2008.loc[RegPost2008['Season'] == season,:]
    #print("sanity check: ", RegGames2008['Season'].count())
    Teams['Mu'] = Rating().mu
    Teams['Sigma'] = Rating().sigma
    print('initizlied teams =')
    print(Teams.head(6))
    
    for i, row in SeasonGames.iterrows():
        (team1, team2) = (row['Wteam'], row['Lteam'])
        #print('result:', row)
    
        # get index from team list
        iteam1 = Teams[Teams['Team_Id'] == team1].index[0]
        iteam2 = Teams[Teams['Team_Id'] == team2].index[0]
    
        # initialize rating object
        rating1 = Rating(Teams['Mu'][iteam1],Teams['Sigma'][iteam1])
        rating2 = Rating(Teams['Mu'][iteam2],Teams['Sigma'][iteam2])
        #print('old:',rating1.mu)
        #print('old:',rating2.mu)
    
        # rate them (unless it is a draw)
        if (row['Wscore'] == row['Lscore']):
            (rating1, rating2) = rate_1vs1(rating1, rating2, drawn=True)
        else:
            (rating1, rating2) = rate_1vs1(rating1, rating2)
    
        # update mu's and sigma's of the two teams
        Teams.loc[iteam1,'Mu'] = rating1.mu
        Teams.loc[iteam1,'Sigma'] = rating1.sigma
        Teams.loc[iteam2,'Mu'] = rating2.mu
        Teams.loc[iteam2,'Sigma'] = rating2.sigma
    
        #print('new1:', Teams.loc[iteam1,'Rating2008Mu'])
        #print('new2:', Teams.loc[iteam2,'Rating2008Mu'])
        #count = count+1
        #if count > 30:
        #    break

        
        #Teams.to_csv('2008trueskills.csv',index=False)
    print('season trueskills =')
    Teams.to_csv('trueskills-%i.csv' % season, index = False)
    print(Teams.head(6))
    
        
    # calculate margin of victory for each game
    SeasonGames['MOV'] = SeasonGames.Wscore-SeasonGames.Lscore
    #print(SeasonGames.head(6))


    # add trueskill ratings for each team
    Team1=pd.concat([Teams['Team_Id'], Teams['Mu'], Teams['Sigma']], axis=1, keys=['Wteam', 'Wm', 'Ws'])
    Team2=pd.concat([Teams['Team_Id'], Teams['Mu'], Teams['Sigma']], axis=1, keys=['Lteam', 'Lm', 'Ls'])
    SeasonGames = SeasonGames.merge(Team1, on='Wteam', how='left').merge(Team2, on='Lteam', how='left')
    print('game trueskills =')
    print (SeasonGames.head(6))
    
    output = output.append(SeasonGames, ignore_index=True)
    print('results')
    print(output.tail(6))
output.to_csv('output.csv',index=False)

assessing season  2008
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  25.000000  8.333333
1     1102    Air Force  27.255425  1.669827
2     1103        Akron  29.496638  1.547358
3     1104      Alabama  30.604314  1.493172
4     1105  Alabama A&M  15.322018  1.716729
5     1106   Alabama St  18.897214  1.699073
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2008       0   1272     102   1404      71    H      0   31  45.957676
1    2008       0   1350      44   1263      42    N      0    2  29.093627
2    2008       1   1205      69   1105      55    N      0   14  20.426175
3    2008       1   1246      67   1146      40    H      0   27  33.682767
4    2008       1   1272      80   1350      63    H      0   17  45.957676
5    2008       1   1404      66   1263      62    N      0    4  19.674485

         Ws         Lm        Ls
0  2.505300  19.674485  1.541764
1  1.573445  13.615163  1.612606
2  1.510871  15.322018  1.716729
3  1.565100  17.062774  1.686124
4  2.505300  29.093627  1.573445
5  1.541764  13.615163  1.612606
results
      Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
5157    2008     131   1458      65   1277      63    N      0    2
5158    2008     132   1208      66   1116      57    N      0    9
5159    2008     132   1242      84   1400      74    N      0   10
5160    2008     132   1314      86   1155      81    N      0    5
5161    2008     132   1426      82   1322      79    N      0    3
5162    2008     132   1458      61   1228      48    N      0   13

             Wm        Ws         Lm        Ls
5157  41.279304  1.766828  36.952162  1.665359
5158  30.901941  1.494394  34.624361  1.456477
5159  42.780798  1.820917  40.970547  1.575023
5160  44.903222  1.881629  37.305250  1.581037
5161  25.427220  1.539655  22.624175  1.560715
5162  41.279304  1.766828  29.840277  1.507625
assessing season  2009
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333

C:\Users\hughsoong\Anaconda3\lib\site-packages\ipykernel\__main__.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  25.000000  8.333333
1     1102    Air Force  20.481142  1.932404
2     1103        Akron  27.354082  1.486150
3     1104      Alabama  31.263695  1.561389
4     1105  Alabama A&M   8.927384  1.717439
5     1106   Alabama St  20.963247  1.863906
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2009       7   1181      80   1342      49    H      0   31  43.662399
1    2009       7   1204      65   1222      63    N      0    2  15.426299
2    2009       8   1181      97   1204      54    H      0   43  43.662399
3    2009       8   1222      76   1342      57    N      0   19  30.279356
4    2009       8   1318      73   1237      60    N      0   13  27.294553
5    2009       9   1275      70   1451      66    N      0    4  25.913385

         Ws         Lm        Ls
0  1.634098  19.862190  1.604237
1  1.671206  30.279356  1.589806
2  1.634098  15.426299  1.671206
3  1.589806  19.862190  1.604237
4  1.534779  20.987945  1.594270
5  1.642165  28.442581  1.708026
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
10406    2009     131   1429      72   1305      62    A      0   10
10407    2009     132   1169      71   1334      66    N      1    5
10408    2009     132   1181      79   1199      69    N      0   10
10409    2009     132   1280      64   1397      61    N      0    3
10410    2009     132   1345      65   1326      61    N      0    4
10411    2009     132   1372      68   1427      57    N      0   11

              Wm        Ws         Lm        Ls
10406  34.731776  1.958858  29.268091  1.491908
10407  24.940920  1.553578  24.332182  1.472714
10408  43.662399  1.634098  40.320314  1.598003
10409  34.250185  1.379049  34.556065  1.443899
10410  40.231946  1.523469  38.968069  1.541750
10411  27.966400  1.685320  22.870264  1.517604
assessing season  2010
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  25.000000  8.333333
1     1102    Air Force  22.318180  1.801488
2     1103        Akron  30.013406  1.531329
3     1104      Alabama  31.214628  1.600030
4     1105  Alabama A&M  11.829943  1.796695
5     1106   Alabama St  16.132967  1.638635
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2010       7   1143      75   1293      70    H      0    5  35.307326
1    2010       7   1314      88   1198      72    H      0   16  32.227542
2    2010       7   1326     100   1108      60    H      0   40  38.932868
3    2010       7   1393      75   1107      43    H      0   32  42.344738
4    2010       9   1143      95   1178      61    H      0   34  35.307326
5    2010       9   1314      89   1300      42    H      0   47  32.227542

         Ws         Lm        Ls
0  1.464944  33.212437  1.917194
1  1.561098  14.947313  1.805633
2  1.598041   4.915966  1.996191
3  1.834972  13.844126  1.739795
4  1.464944  25.743689  1.495534
5  1.561098  10.448424  2.190202
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
15669    2010     131   1449      79   1143      75    N      0    4
15670    2010     131   1452      60   1207      58    N      0    2
15671    2010     132   1181      65   1210      61    N      0    4
15672    2010     132   1246      75   1280      74    N      1    1
15673    2010     132   1326      90   1278      61    N      0   29
15674    2010     132   1396      56   1350      52    N      0    4

              Wm        Ws         Lm        Ls
15669  35.948984  1.477435  35.307326  1.464944
15670  42.466699  1.609227  39.228050  1.472503
15671  42.733624  1.608557  36.193967  1.489300
15672  43.886052  1.871225  34.642504  1.527471
15673  38.932868  1.598041  34.195239  1.511281
15674  40.975509  1.788426  36.828520  1.559415
assessing season  2011
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  25.000000  8.333333
1     1102    Air Force  27.207629  1.765211
2     1103        Akron  28.179508  1.432860
3     1104      Alabama  33.160466  1.520129
4     1105  Alabama A&M  12.890405  1.739465
5     1106   Alabama St  16.661958  1.516470
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2011       7   1228      79   1414      65    H      0   14  33.170092
1    2011       7   1268     105   1370      76    H      0   29  31.561893
2    2011       7   1338      83   1348      75    H      0    8  42.586142
3    2011       7   1400      83   1298      52    H      0   31  39.428677
4    2011       9   1228      84   1405      45    H      0   39  33.170092
5    2011       9   1268      75   1158      74    H      0    1  31.561893

         Ws         Lm        Ls
0  1.533172  19.881917  1.492060
1  1.640255  19.369093  1.561780
2  1.825649  29.760355  1.496357
3  1.569456  17.477328  1.594694
4  1.533172  12.410978  1.758516
5  1.640255  27.906228  1.543662
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
20915    2011     131   1429      77   1129      69    N      0    8
20916    2011     131   1449      77   1112      75    N      1    2
20917    2011     132   1181      75   1314      58    N      0   17
20918    2011     132   1246      70   1196      54    N      0   16
20919    2011     132   1326      71   1336      60    N      0   11
20920    2011     132   1350      67   1173      54    N      0   13

              Wm        Ws         Lm        Ls
20915  37.205280  2.094407  27.225223  1.545071
20916  34.206163  1.480337  36.616853  1.595767
20917  41.299305  1.763935  39.053213  1.533720
20918  37.715219  1.518867  38.068153  1.499891
20919  44.151171  1.966671  34.200821  1.477780
20920  34.841023  1.530846  30.849649  1.461440
assessing season  2012
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  25.000000  8.333333
1     1102    Air Force  26.623552  1.787710
2     1103        Akron  29.860426  1.590004
3     1104      Alabama  34.419148  1.545486
4     1105  Alabama A&M   8.751791  1.730531
5     1106   Alabama St  12.546294  1.602615
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2012       7   1112      73   1434      64    H      0    9  32.455969
1    2012       7   1280      76   1184      66    H      0   10  33.300143
2    2012       7   1385      74   1456      59    H      0   15  28.942731
3    2012       9   1103      68   1280      58    A      0   10  29.860426
4    2012       9   1112      67   1182      59    H      0    8  32.455969
5    2012       9   1385      78   1250      73    H      0    5  28.942731

         Ws         Lm        Ls
0  1.497639  28.853853  1.507621
1  1.622025  19.486464  1.558964
2  1.573850  15.586773  1.938799
3  1.590004  33.300143  1.622025
4  1.497639  28.485128  1.529304
5  1.573850  30.069709  1.711974
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
26168    2012     131   1436      51   1392      43    A      0    8
26169    2012     131   1462      71   1387      64    N      0    7
26170    2012     132   1199      85   1314      82    N      0    3
26171    2012     132   1277      68   1326      64    N      0    4
26172    2012     132   1382      67   1462      56    N      0   11
26173    2012     132   1435      71   1246      64    N      0    7

              Wm        Ws         Lm        Ls
26168  24.416865  1.537079  25.291561  1.691156
26169  32.839977  1.473118  35.441778  1.640462
26170  36.581828  1.431984  39.772018  1.686558
26171  41.505200  1.500425  41.372060  1.560871
26172  33.074658  1.531477  32.839977  1.473118
26173  38.078189  1.544015  44.784524  2.021311
assessing season  2013
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  25.000000  8.333333
1     1102    Air Force  32.500302  1.629482
2     1103        Akron  32.460580  1.716145
3     1104      Alabama  31.456664  1.480874
4     1105  Alabama A&M  12.420228  1.653215
5     1106   Alabama St  12.855574  1.621253
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2013       4   1104      70   1355      67    H      0    3  31.456664
1    2013       4   1107      69   1182      66    H      0    3  27.399977
2    2013       4   1114      84   1404      68    H      0   16  25.012348
3    2013       4   1116      73   1358      68    H      0    5  31.362772
4    2013       4   1120      61   1236      50    H      0   11  22.096649
5    2013       4   1122      75   1359      64    H      0   11  13.334806

         Ws         Lm        Ls
0  1.480874  29.037770  1.625432
1  1.559682  21.772754  1.666773
2  1.500246  15.623182  1.741715
3  1.518347  20.203271  1.600214
4  1.587987  22.109008  1.549530
5  1.763647  16.668269  1.610997
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
31488    2013     131   1433      71   1269      62    N      0    9
31489    2013     131   1458      68   1231      56    N      0   12
31490    2013     132   1274      87   1314      77    N      0   10
31491    2013     132   1279      66   1196      63    N      0    3
31492    2013     132   1326      50   1458      43    N      0    7
31493    2013     132   1387      62   1433      56    N      0    6

              Wm        Ws         Lm        Ls
31488  36.404797  1.601981  32.523959  1.512359
31489  37.885727  1.449082  41.126205  1.620947
31490  39.772077  1.556790  37.439248  1.515606
31491  34.438291  1.509663  36.635123  1.660870
31492  41.495447  1.592484  37.885727  1.449082
31493  38.303820  1.526482  36.404797  1.601981
assessing season  2014
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr   8.635082  2.378879
1     1102    Air Force  24.330666  1.654855
2     1103        Akron  29.655426  1.503070
3     1104      Alabama  28.965679  1.526441
4     1105  Alabama A&M  15.957518  1.583220
5     1106   Alabama St  18.507644  1.597439
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2014       4   1102      79   1119      68    N      0   11  24.330666
1    2014       4   1103      72   1157      63    H      0    9  29.655426
2    2014       4   1107      74   1373      62    A      0   12  22.413680
3    2014       4   1112      73   1142      62    H      0   11  42.048676
4    2014       4   1113      96   1420      61    H      0   35  35.646920
5    2014       4   1116      99   1188      65    H      0   34  33.632870

         Ws         Lm        Ls
0  1.654855  21.942244  1.497214
1  1.503070  21.977828  1.520705
2  1.483138  24.017498  1.485928
3  1.764675  22.494976  1.535090
4  1.497077  14.802662  1.637201
5  1.533717  16.464955  1.582296
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
36850    2014     131   1451      88   1315      67    H      0   21
36851    2014     132   1196      61   1246      60    N      0    1
36852    2014     132   1277      69   1276      55    N      0   14
36853    2014     132   1386      65   1433      61    N      0    4
36854    2014     132   1418      82   1209      81    N      1    1
36855    2014     132   1438      72   1181      63    N      0    9

              Wm        Ws         Lm        Ls
36850  23.552931  1.569314  21.236701  1.453311
36851  44.922550  1.838371  37.475468  1.502926
36852  39.397678  1.523337  40.573649  1.502559
36853  35.923937  1.552560  36.321412  1.529688
36854  27.153825  1.497295  29.374143  1.576579
36855  40.267125  1.515074  39.489614  1.528523
assessing season  2015
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  14.480680  1.678703
1     1102    Air Force  25.062637  1.703966
2     1103        Akron  27.379883  1.396470
3     1104      Alabama  31.761789  1.540860
4     1105  Alabama A&M  12.798401  1.738561
5     1106   Alabama St  20.229606  1.776454
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2015      11   1103      74   1420      57    H      0   17  27.379883
1    2015      11   1104      82   1406      54    H      0   28  31.761789
2    2015      11   1112      78   1291      55    H      0   23  42.288237
3    2015      11   1113      86   1152      50    H      0   36  31.731564
4    2015      11   1119      84   1102      78    H      0    6  19.948722
5    2015      11   1120      83   1454      73    H      0   10  29.528890

         Ws         Lm        Ls
0  1.396470  10.411539  1.875553
1  1.540860  18.514869  1.548899
2  1.705103  22.078660  1.529767
3  1.450081  13.289686  1.834731
4  1.548118  25.062637  1.703966
5  1.456035  22.862734  1.701876
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
42204    2015     131   1461      45   1361      43    N      0    2
42205    2015     132   1209      38   1204      36    N      0    2
42206    2015     132   1246      78   1116      63    N      0   15
42207    2015     132   1374      62   1163      54    N      0    8
42208    2015     132   1433      71   1173      65    N      0    6
42209    2015     132   1458      80   1277      69    N      1   11

              Wm        Ws         Lm        Ls
42204  31.902267  1.583076  34.856407  1.613735
42205  28.286437  1.556636  26.185758  1.621515
42206  49.070057  2.417690  37.886051  1.565241
42207  38.410264  1.666459  32.807048  1.458774
42208  35.620535  1.549090  34.000837  1.604624
42209  43.555965  1.790141  36.192841  1.461976
assessing season  2016
initizlied teams =
   Team_Id    Team_Name  Mu     Sigma
0     1101  Abilene Chr  25  8.333333
1     1102    Air Force  25  8.333333
2     1103        Akron  25  8.333333
3     1104      Alabama  25  8.333333
4     1105  Alabama A&M  25  8.333333
5     1106   Alabama St  25  8.333333
season trueskills =
   Team_Id    Team_Name         Mu     Sigma
0     1101  Abilene Chr  15.503154  1.724806
1     1102    Air Force  23.181845  1.525350
2     1103        Akron  30.401543  1.514703
3     1104      Alabama  32.046867  1.490648
4     1105  Alabama A&M  13.324520  1.555659
5     1106   Alabama St  15.942645  1.589590
game trueskills =
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV         Wm  \
0    2016      11   1104      77   1244      64    H      0   13  32.046867
1    2016      11   1105      68   1408      67    A      1    1  13.324520
2    2016      11   1112      79   1334      61    H      0   18  38.609925
3    2016      11   1115      58   1370      56    A      0    2  12.140781
4    2016      11   1116      86   1380      68    H      0   18  30.732732
5    2016      11   1120      75   1412      74    H      0    1  26.764549

         Ws         Lm        Ls
0  1.490648  18.850502  1.721811
1  1.555659  23.963700  1.615784
2  1.549138  20.366108  1.818089
3  1.590481  21.615950  1.723353
4  1.447137  20.132720  1.512482
5  1.502123  30.650171  1.726701
results
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  MOV  \
47573    2016     131   1451      62   1285      59    N      0    3
47574    2016     132   1114      70   1419      50    N      0   20
47575    2016     132   1163      72   1272      58    N      0   14
47576    2016     132   1246      82   1401      77    N      1    5
47577    2016     132   1277      66   1345      62    N      0    4
47578    2016     132   1386      87   1433      74    N      0   13

              Wm        Ws         Lm        Ls
47573  26.543226  1.622941  23.635644  1.636773
47574  32.017114  1.933285  27.009654  1.521463
47575  35.280324  1.490610  29.870825  1.505384
47576  36.992860  1.433963  37.195760  1.533373
47577  41.121824  1.627268  38.807619  1.609066
47578  36.039057  1.597824  33.656119  1.459727

## Linear Model: MOV ~ Wm + Ws + Lm + Ls
# this actually makes no sense

In [51]:
linmodel=sm.ols(formula = "MOV ~ Wm + Ws + Lm + Ls",data=output).fit()
print(linmodel.summary())
print(linmodel.mse_resid)
print(linmodel.mse_total)
#print(linmodel)

                            OLS Regression Results
==============================================================================
Dep. Variable:                    MOV   R-squared:                       0.220
Model:                            OLS   Adj. R-squared:                  0.220
Method:                 Least Squares   F-statistic:                     3347.
Date:                Wed, 16 Mar 2016   Prob (F-statistic):               0.00
Time:                        01:26:19   Log-Likelihood:            -1.6692e+05
No. Observations:               47579   AIC:                         3.338e+05
Df Residuals:                   47574   BIC:                         3.339e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept      9.4603      0.667     14.184      0.000         8.153    10.768
Wm             0.6283      0.006    102.154      0.000         0.616     0.640
Ws            -1.1147      0.291     -3.826      0.000        -1.686    -0.544
Lm            -0.5996      0.007    -86.445      0.000        -0.613    -0.586
Ls             0.2822      0.274      1.031      0.303        -0.254     0.819
==============================================================================
Omnibus:                     7129.506   Durbin-Watson:                   1.978
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12523.882
Skew:                           0.981   Prob(JB):                         0.00
Kurtosis:                       4.571   Cond. No.                         717.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
65.2813309256
83.6452971215

# This Season's Data
Now that we have a method and model, let's use the trueskill for this year's field to predict (margin of victory) win percentage between each possible matchup

In [64]:
# luckily, we already caluclated trueskill
TS2016 = pd.read_csv('trueskills-2016.csv')

# games to predict
game_to_predict = pd.concat([SampleSubmission['Id'],SampleSubmission['Id'].str.split('_', expand=True)], axis=1)
game_to_predict.rename(columns={0: 'season', 1: 'team1',2: 'team2'}, inplace=True)
game_to_predict['season'] = pd.to_numeric(game_to_predict['season'])
game_to_predict['team1'] = pd.to_numeric(game_to_predict['team1'])
game_to_predict['team2'] = pd.to_numeric(game_to_predict['team2'])
# add trueskill ratings for each team
Team1=pd.concat([TS2016['Team_Id'], TS2016['Team_Name'], TS2016['Mu'], TS2016['Sigma']], axis=1, keys=['team1', 'team1_name', 't1m', 't1s'])
Team2=pd.concat([TS2016['Team_Id'], TS2016['Team_Name'], TS2016['Mu'], TS2016['Sigma']], axis=1, keys=['team2', 'team2_name','t2m', 't2s'])
game_to_predict = game_to_predict.merge(Team1, on='team1', how='left').merge(Team2, on='team2', how='left')
print (game_to_predict.head(6))

#game_to_predict['predicted_mov'] = linmodel.predict(game_to_predict[['t1m','t1s',]])

from math import sqrt
from trueskill import BETA
from trueskill.backends import cdf

def win_probability(t1m,t1s,t2m,t2s):
    player_rating = Rating(t1m,t1s)
    opponent_rating = Rating(t2m,t2s)
    delta_mu = player_rating.mu - opponent_rating.mu
    denom = sqrt(2 * (BETA * BETA) + pow(player_rating.sigma, 2) + pow(opponent_rating.sigma, 2))
    res1 = cdf(delta_mu / denom)
    return res1 

game_to_predict['win_prob'] = np.nan
for i, row in game_to_predict.iterrows():
    game_to_predict.loc[i,'win_prob'] = win_probability(row['t1m'],row['t1s'],row['t2m'],row['t2s'])

print(game_to_predict.head(6))
game_to_predict.to_csv('predictions.csv',index=False)

               Id  season  team1  team2 team1_name        t1m       t1s  \
0  2016_1112_1114    2016   1112   1114    Arizona  38.609925  1.549138
1  2016_1112_1122    2016   1112   1122    Arizona  38.609925  1.549138
2  2016_1112_1124    2016   1112   1124    Arizona  38.609925  1.549138
3  2016_1112_1138    2016   1112   1138    Arizona  38.609925  1.549138
4  2016_1112_1139    2016   1112   1139    Arizona  38.609925  1.549138
5  2016_1112_1143    2016   1112   1143    Arizona  38.609925  1.549138

        team2_name        t2m       t2s
0  Ark Little Rock  32.017114  1.933285
1      Austin Peay  22.575793  1.444581
2           Baylor  37.617276  1.556551
3          Buffalo  28.556519  1.440394
4           Butler  37.475693  1.652938
5       California  37.796118  1.478383
               Id  season  team1  team2 team1_name        t1m       t1s  \
0  2016_1112_1114    2016   1112   1114    Arizona  38.609925  1.549138
1  2016_1112_1122    2016   1112   1122    Arizona  38.609925  1.549138
2  2016_1112_1124    2016   1112   1124    Arizona  38.609925  1.549138
3  2016_1112_1138    2016   1112   1138    Arizona  38.609925  1.549138
4  2016_1112_1139    2016   1112   1139    Arizona  38.609925  1.549138
5  2016_1112_1143    2016   1112   1143    Arizona  38.609925  1.549138

        team2_name        t2m       t2s  win_prob
0  Ark Little Rock  32.017114  1.933285  0.848821
1      Austin Peay  22.575793  1.444581  0.994776
2           Baylor  37.617276  1.556551  0.562713
3          Buffalo  28.556519  1.440394  0.945840
4           Butler  37.475693  1.652938  0.571292
5       California  37.796118  1.478383  0.551639

In [ ]:
# add team names to data

# (EXAMPLE) Seed-Based model

## Extract seeds for each team

In [10]:
TourneySeeds['SeedNum'] = TourneySeeds['Seed'].apply(lambda x: re.sub("[A-z+a-z]","",x,flags=re.IGNORECASE))
print(TourneySeeds.tail(10))

      Season  Seed  Team SeedNum
2072    2016   Z08  1386      08
2073    2016   Z09  1153      09
2074    2016   Z10  1433      10
2075    2016   Z11  1320      11
2076    2016   Z12  1463      12
2077    2016   Z13  1423      13
2078    2016   Z14  1453      14
2079    2016   Z15  1167      15
2080    2016  Z16a  1221      16
2081    2016  Z16b  1380      16

In [11]:
game_to_predict = pd.concat([SampleSubmission['Id'],SampleSubmission['Id'].str.split('_', expand=True)], axis=1)
game_to_predict.rename(columns={0: 'season', 1: 'team1',2: 'team2'}, inplace=True)
game_to_predict['season'] = pd.to_numeric(game_to_predict['season'])
game_to_predict['team1'] = pd.to_numeric(game_to_predict['team1'])
game_to_predict['team2'] = pd.to_numeric(game_to_predict['team2'])
TourneySeeds['Season'] = pd.to_numeric(TourneySeeds['Season'])
TourneySeeds['Team'] = pd.to_numeric(TourneySeeds['Team'])
TourneySeeds['SeedNum'] = pd.to_numeric(TourneySeeds['SeedNum'])
game_to_predict = pd.merge(game_to_predict,TourneySeeds[['Season','Team','SeedNum']].rename(columns={'Season': 'season', 'Team': 'team1','SeedNum':'TeamSeed1'}),how='left',on=['season','team1'])
game_to_predict = pd.merge(game_to_predict,TourneySeeds[['Season','Team','SeedNum']].rename(columns={'Season': 'season', 'Team': 'team2','SeedNum':'TeamSeed2'}),how='left',on=['season','team2'])
print(game_to_predict.head(10))

               Id  season  team1  team2  TeamSeed1  TeamSeed2
0  2016_1112_1114    2016   1112   1114          6         12
1  2016_1112_1122    2016   1112   1122          6         16
2  2016_1112_1124    2016   1112   1124          6          5
3  2016_1112_1138    2016   1112   1138          6         14
4  2016_1112_1139    2016   1112   1139          6          9
5  2016_1112_1143    2016   1112   1143          6          4
6  2016_1112_1151    2016   1112   1151          6         12
7  2016_1112_1153    2016   1112   1153          6          9
8  2016_1112_1160    2016   1112   1160          6          8
9  2016_1112_1163    2016   1112   1163          6          9

## Join results to seeds

In [12]:
compact_results = pd.merge(TourneyCompactResults, TourneySeeds[['Season','Team','SeedNum']].rename(columns={'Team': 'Wteam','SeedNum':'WSeedNum'}), how='left', on=['Season','Wteam'])
compact_results = pd.merge(compact_results, TourneySeeds[['Season','Team','SeedNum']].rename(columns={'Team': 'Lteam','SeedNum':'LSeedNum'}), how='left', on=['Season','Lteam'])
print(compact_results.head(6))

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  WSeedNum  \
0    1985     136   1116      63   1234      54    N      0         9
1    1985     136   1120      59   1345      58    N      0        11
2    1985     136   1207      68   1250      43    N      0         1
3    1985     136   1229      58   1425      55    N      0         9
4    1985     136   1242      49   1325      38    N      0         3
5    1985     136   1246      66   1449      58    N      0        12

   LSeedNum
0         8
1         6
2        16
3         8
4        14
5         5

## Fix wins

In [13]:
set1 = compact_results[['WSeedNum','LSeedNum']].rename(columns={'WSeedNum': 'Team1Seed','LSeedNum':'Team2Seed'})
set1['Team1Win'] = 1
set2 = compact_results[['LSeedNum','WSeedNum']].rename(columns={'LSeedNum': 'Team1Seed','WSeedNum':'Team2Seed'})
set2['Team1Win'] = 0
full_set = pd.concat([set1,set2],ignore_index=True)
full_set['Team1Seed'] = pd.to_numeric(full_set['Team1Seed'])
full_set['Team2Seed'] = pd.to_numeric(full_set['Team2Seed'])
full_set['Team1Win'] = pd.to_numeric(full_set['Team1Win'])

print(full_set.head(6))

   Team1Seed  Team2Seed  Team1Win
0          9          8         1
1         11          6         1
2          1         16         1
3          9          8         1
4          3         14         1
5         12          5         1

## Linear model

In [14]:
linmodel=ols(y=full_set['Team1Win'],x=full_set['Team2Seed']-full_set['Team1Seed'])
print(linmodel)

-------------------------Summary of Regression Analysis-------------------------

Formula: Y ~ <x> + <intercept>

Number of Observations:         3966
Number of Degrees of Freedom:   2

R-squared:         0.2525
Adj R-squared:     0.2523

Rmse:              0.4324

F-stat (1, 3964):  1339.2037, p-value:     0.0000

Degrees of Freedom: model 1, resid 3964

-----------------------Summary of Estimated Coefficients------------------------
      Variable       Coef    Std Err     t-stat    p-value    CI 2.5%   CI 97.5%
--------------------------------------------------------------------------------
             x     0.0333     0.0009      36.60     0.0000     0.0315     0.0351
     intercept     0.5000     0.0069      72.82     0.0000     0.4865     0.5135
---------------------------------End of Summary---------------------------------

In [15]:
game_to_predict['Pred'] = linmodel.predict(x=game_to_predict['TeamSeed2']-game_to_predict['TeamSeed1'])
game_to_predict[['Id','Pred']].to_csv('seed_submission.csv',index=False)